parameters:
    api_dir: 'Api\'
    app_dir: 'App\'
    author: 'authorStub'
    author_mail: 'author.stub@example.com'
    base_namespace: 'OpenClassrooms\CodeGenerator\Tests\Fixtures\Classes\'
    stub_namespace: 'OpenClassrooms\CodeGenerator\Tests\Fixtures\Classes\tests\Doubles\'
    tests_base_namespace: 'OpenClassrooms\CodeGenerator\Tests\Fixtures\Classes\tests\'

    paginated_collection_classname: 'OpenClassrooms\UseCase\BusinessRules\Entities\PaginatedCollection'
    use_case_classname: 'OpenClassrooms\UseCase\BusinessRules\Requestors\UseCase'
    use_case_request_classname: 'OpenClassrooms\UseCase\BusinessRules\Requestors\UseCaseRequest'

    paginated_use_case_response_classname: '%base_namespace%BusinessRules\Responders\PaginatedUseCaseResponse'
    paginated_use_case_response_builder_classname: '%base_namespace%BusinessRules\Responders\PaginatedUseCaseResponseBuilder'
    use_case_response_classname: '%base_namespace%BusinessRules\Responders\UseCaseResponse'
    pagination_classname: '%base_namespace%BusinessRules\Gateways\Pagination'
